<?xml version="1.0"?>
<launch>
    <arg name="robot" default="poppy_torso"/>
    <arg name="simulated" default="false"/>

    <group ns="$(arg robot)">
        <param if="$(arg simulated)" name="simulator" value="vrep" />
        <param unless="$(arg simulated)" name="simulator" value="none" />
        <param if="$(arg simulated)" name="vrep/port" value="none" />

        <node pkg="poppy_torso_controllers" name="poppy_torso_controllers" type="controllers.py" output="screen"/>
    </group>
</launch>
